<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">


        {{#if jotaro}}
            <title>ゴゴゴゴゴゴゴゴ</title>
        {{else}}
            <title>Just kill me now</title>
        {{/if}}        

        <link rel="stylesheet" href="/css/img_stretch.css">

        <style>

            body {
                background-image: url('{{location}}');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

        </style>
    </head>

    <body>

    </body>

</html>