<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>&lrm;</title>

        <link rel="stylesheet" href="/css/img_stretch.css">

        <style>

            body {
                background-color: black;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

        </style>
    </head>

    <body>

    </body>

</html>